
html{
    background-color: white;
}

body{
    background-color:  whitesmoke;
    border: 2px solid black;
    background-image: url('../background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#tit{
    font-size: 50px;
    font-style: inherit;
    text-align: center;
    margin: 0;
    color: deeppink;
}


.fixed_div{
    margin-left:300px;
    bottom:300px;
    width:400px;
}

#form{
    /*position: absolute;*/
    margin-left: 100px;
}

#sig{
    text-align: right;
    color: red;
    font-size: small;
    font-style: italic;
}

